body{
  font-family: helvetica;
}

section{
  width: 59.5vw;
  height: 15vh;
  background-color: darkgray;
  position: fixed;
  left: 20vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: black solid 3px;
  border-bottom: black solid 3px;
  box-sizing: border-box;
}

#top-banner{
  top: 0;
}

h1{
  font-size: 50px;
  font-weight: bold;
  color: red;
}

#bottom-banner{
  top: 74.5vh;
  height: 15.5vh;
}

button{
  width: 15vw;
  height: 10vh;
  background-color: purple;
  color: white;
  font-size: 30px;
  font-weight: bold;
}

aside{
  height: 90vh;
  width: 10vw;
  background-color: darkgray;
  top: 0;
  position: absolute;
  border: black solid 3px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#aside-left{
  left: 10vw;
}

#aside-right{
  right: 10.6vw;
}

.character-slot{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 18vh;
}

h2{
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
  font-size: 28px;
}

.icon{
  height: 10vh;
  width: 5vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-size: 75px;
  text-align: center;
  color: red;
  font-weight: bold;
}

.health-bar{
    height: 1vh;
    width: 5vw;
    background-color: darkgray;
    margin-top: 1vh;
    z-index: 1;
}

.health-green{
    height: 100%;
    width: 0%;
    background-color: lightgreen;
    z-index: 2;
}

aside p {
    margin: 0 0 2vh 0;
    font-weight: bold;
    font-size: 20px;
}

.container{
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  height: 60vh;
  width: 60vw;
  top: 15vh;
  left: 20vw;
}

.map-box{
    height: 60vh;
    width: 60vw;
    top: 15vh;
    left: 20vw;
    background-image: url(images/forest-map.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
    position: absolute;
}

.container div{
  height: 10%;
  width: 5.5%;
  box-sizing: border-box;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0px;
}

.grid-square{
  background-color: transparent;
}

.enterable{
  background-color: blue;
}

.attackable{
  background-color: red;
}

.blood{
  background-image: url(images/blood.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.player1-soldier{
  background-image: url(images/knife.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.player2-soldier{
  background-image: url(images/axe.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container div p{
  animation: fadeOutUp 2s 1;
  font-size: 50px;
  font-weight: bold;
  color: red;
}

@keyframes fadeOutUp {
   0% {
      opacity: 1;
      transform: translateY(0);
   }
   100% {
      opacity: 0;
      transform: translateY(-40px);
   }
}
