body{
  font-family: 'Goudy Bookletter 1911', serif;
}

.background{
  background: url(images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -2;
  position: absolute;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  margin: 0;
}

.game-screen{
    display: none;
}

.start-menu{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 90vh;
  width: 80vw;
  top: 0;
  left: 10vw;
  z-index: 3;
  background-color: transparent;
}

h1{
  font-size: 10vw;
  font-weight: bold;
  text-align: center;
  color: darkred;
  background: -webkit-linear-gradient(red, black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 10vh;
  margin-top: 5vh;
}

button{
  width: 15vw;
  height: 10vh;
  background: radial-gradient(red, darkred);
  border: 0;
  border-radius: 25px;
  color: white;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Goudy Bookletter 1911', serif;
}

.build-screen{
  display: none;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 90vh;
  width: 80vw;
  top: 0;
  left: 10vw;
  z-index: 1;
}

.build-selection{
  width: 80vw;
  height: 70vh;
  display: flex;
  justify-content: flex-start;
}

.chosen-display{
  width: 12vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-image: url(images/gray.png);
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  border: 3px solid black;
}

.build-options{
    width: 68vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.character-option{
  width: 68vw;
  height: 17.5vh;
  box-sizing: border-box;
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  background-image: url(images/gray.png);
  background-repeat: no-repeat;
  background-size: cover;
}

h4{
  margin: 0;
  height: 4vh;
  color: white;
  font-size: 4vh;
  text-decoration: underline;
}

.character-option p {
    margin: 0;
    margin-top: 1vh;
    width: 57vw;
    height: 9vh;
    color: white;
    font-size: 2.5vh;
    text-align: center;
}

.add-button{
  height: 3vh;
  width: 4vw;
  border: 1px solid black;
  text-align: center;
  margin-left: 2vw;
  background: radial-gradient(red, darkred);
  border: 0;
  border-radius: 25px;
  color: white;
}

.image{
  height: 13vh;
  width: 9vw;
}

.transition-screen{
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 71vh;
  width: 80vw;
  top: 16vh;
  left: 0vw;
  z-index: 3;
  background-color: black;
}

section{
  width: 59.4vw;
  height: 15vh;
  background-color: darkgray;
  position: absolute;
  left: 20vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: url(images/gray.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.top-banner{
  top: 0;
}

h2{
  font-size: 3vw;
  font-weight: bold;
  color: white;
}

.bottom-banner{
  top: 74.5vh;
  height: 15.5vh;
}

#attack-button{
  background: radial-gradient(red, darkred);
}

#move-button{
  background: radial-gradient(royalblue, navy);
}

#end-turn{
  background: radial-gradient(magenta, indigo);
}

#placement-controls{
  z-index: 2;
}

aside{
  height: 90vh;
  width: 10vw;
  background-color: darkgray;
  color: white;
  top: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-image: url(images/gray.png);
  background-repeat: no-repeat;
  background-size: cover;
}

#aside-left{
  left: 10vw;
}

#aside-right{
  right: 10.6vw;
}

.character-slot{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 18vh;
}

h3{
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
  font-size: 24px;
}

.icon{
  height: 13vh;
  width: 6vw;
  font-size: 90px;
  text-align: center;
  color: red;
  font-weight: bold;
}

.health-bar{
    height: 1vh;
    width: 5vw;
    background-color: darkgray;
    margin-top: 1vh;
    z-index: 1;
}

.health-green{
    height: 100%;
    width: 0%;
    background-color: lightgreen;
    z-index: 2;
}

aside p {
    margin: 0 0 2vh 0;
    font-weight: bold;
    font-size: 20px;
}

.container{
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  height: 60vh;
  width: 60vw;
  top: 15vh;
  left: 20vw;
}

.map-box{
    height: 60vh;
    width: 60vw;
    top: 15vh;
    left: 20vw;
    background-image: url(images/forest-map.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
    position: absolute;
}

.container div{
  height: 10%;
  width: 5.5%;
  box-sizing: border-box;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0px;
}

.grid-square{
  background-color: transparent;
}

.enterable{
  background-color: rgba(0, 0, 255, 0.5);
}

.attackable{
  background-color: rgba(255, 0, 0, 0.75);
}

.selected{
  background-color: rgba(255, 255, 0, 0.75);
}

.active{
  background-color: rgba(255, 255, 0, 0.75);
  border-radius: 50px;
}

.fireball{
    background-color: rgba(255, 100, 0, 0.5);
}

.healable{
    background-color: rgba(90, 242, 50, 0.5);
}

.blood{
  background-image: url(images/blood.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.player1-type1-soldier{
  background-image: url(images/sword.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.player2-type1-soldier{
  background-image: url(images/axe.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.player1-type2-soldier{
  background-image: url(images/wolf.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.player2-type2-soldier{
  background-image: url(images/horse.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.player1-type3-soldier{
  background-image: url(images/bowman.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.player2-type3-soldier{
  background-image: url(images/archer.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.player1-type4-soldier{
  background-image: url(images/wizard.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.player2-type4-soldier{
  background-image: url(images/shaman.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container div p{
  animation: fadeOutUp 2s 1;
  font-size: 60px;
  font-weight: bold;
  color: red;
  text-align: center;
  z-index: 2;
}

.victory-screen{
  height: 60vh;
  width: 59.5vw;
  top: 15vh;
  left: 20vw;
  position: absolute;
  z-index: 2;
  background-color: rgba(5, 5, 5, 0.5);
  font-size: 100px;
  font-weight: bold;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#finished-placement-screen{
  display: none;
}
.arrow{
  background-image: url(images/arrow.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 2vh;
  width: 3vw;
  z-index: 2;
  position: absolute;
  transition: all 0.2s;
}

#explosion{
  animation: tada 2s infinite;
  background-image: url(images/boom.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 200px;
  background-color: transparent;
  z-index: 1;
  position: absolute;
}

@keyframes fadeOutUp {
   0% {
      opacity: 1;
      transform: translateY(0);
   }
   100% {
      opacity: 0;
      transform: translateY(-40px);
   }
}

@keyframes tada {
  0% {transform: scale(1);}
  10%, 20% {transform: scale(0.9) rotate(-3deg);}
  30%, 50%, 70%, 90% {transform: scale(1.1) rotate(3deg);}
  40%, 60%, 80% {transform: scale(1.1) rotate(-3deg);}
  100% {transform: scale(1) rotate(0);}
}
